{% extends "base.html" %}

{% block body %}
    <section class="vh-100 bg-image"
    style="background-image: url('https://images.pexels.com/photos/212324/pexels-photo-212324.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
            <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
                <h2 class="text-uppercase text-center mb-5">Log in your account</h2>

                <form method="POST">

                <div class="form-outline mb-4">
                    <label class="form-label" for="email">Your Email</label>
                    <input type="email" name='email' id="email" class="form-control form-control-lg" />
                </div>

                <div class="form-outline mb-4">
                    <label class="form-label" for="password">Password</label>
                    <input type="password" name='password' id="password" class="form-control form-control-lg" />
                </div>

                <div class="d-flex justify-content-center">
                    <button type="submit" id="submit"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Login</button>
                </div>

                <p class="text-center text-muted mt-5 mb-0">Haven't got an account yet? 
                    <a href="/register" class="fw-bold text-body">
                        <u>Register here</u>
                    </a>
                </p>

                <p class="text-center text-muted mt-5 mb-0">Forget your account? 
                    <a href="/forgot_password_1" class="fw-bold text-body">
                        <u>Reset the password</u>
                    </a>
                </p>

                </form>

            </div>
            </div>
        </div>
        </div>
    </div>
    </div>
    </section>


{% endblock %}